

.answer:hover {
background-color: rgb(190, 185, 185);
}
#quiz {
    display: none;
}
.end-game {
    display: none;
}

#questions {
    font-size: x-large;
    font-weight: bold;
}

#question-result{
    font-size: x-large;
    font-weight: bold;
    color: red;
}